<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cursos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-3" href="/">Sistema Acadêmico</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cursos}">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/professores}">Professores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/alunos}">Alunos</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="mb-3 mt-3">Cursos</h2>
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curso : ${cursos}">
            <td th:text="${curso.id}"></td>
            <td th:text="${curso.name}"></td>
            <td>
                <a class="btn btn-warning text-white" th:href="@{/cursos/{id}/edit(id=${curso.id})}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <button class="btn btn-danger" data-bs-target="#curso-remove-modal" data-bs-toggle="modal" th:value="${curso.getId()}">
                    <i class="bi-trash-fill"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="curso-remove-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Remover Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja deletar o curso ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>